<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557979572247-kfc09o9sndpr510aojl5fl4mgjv8enk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557979572247-kfc09o9sndpr510aojl5fl4mgjv8enk5</string>
	<key>API_KEY</key>
	<string>AIzaSyBsdj8DBgT19VtfORF38eG8qHeA0bF0Wok</string>
	<key>GCM_SENDER_ID</key>
	<string>557979572247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSocial2</string>
	<key>PROJECT_ID</key>
	<string>fluttersocial-f5587</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttersocial-f5587.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557979572247:ios:e7f27aa08798eecdd26452</string>
</dict>
</plist>